{% extends 'index.html' %}
{% load static %}
{% block content %}
<section class="ftco-section-2">
<div class="photograhy">
	<div class="row no-gutters">

		{% for image,exifdata in allimages.items %}

		<div class="col-md-4 ftco-animate">
			<a href="{{ image }}" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url({{ image }});">
				<div class="overlay"></div>
				<div class="text text-center">
					{% for value in exifdata %}
					<span class="tag">{{ value }}</span><br>
					{% endfor %}
				</div>
			</a>
		</div>

{% endfor %}

	</div>
</div>
</section>
{% endblock %}