{% extends 'index.html' %}
{% load static %}
{% block content %}
<section class="ftco-section-2">
<div class="photograhy">
	<div class="row no-gutters">

		{% for image in image_list %}

		<div class="col-md-4 ftco-animate">
			<a href="{{ image }}" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url({{ image }});">
				<div class="overlay"></div>
				<div class="text text-center">
					<h3>Work 01</h3>
					<span class="tag">Model</span>
				</div>
			</a>
		</div>

{% endfor %}

	</div>
</div>
</section>
{% endblock %}